h1 {
    background: red;
}

.paragraph-1 {
    background: blue;
    font-size: 32pt;
    color: green;
}

.paragraph-2{
    border: 10px solid yellow;
    border-radius: 100px;
    font-size: 24pt;
    margin-bottom: 50px;
    padding-bottom: 40px;
    padding-left: 40px;
}

.paragraph-3 {
    font-weight: bold;
    font-size: 22px;
    font-family: 'Courier New';
}

.paragraph-4 {
    font-weight: bold;
    font-size: 24px;
    font-family: 'Courier New';
    font-style: oblique;
    text-align: center;
    text-shadow: 5px 5px #558abb;
}
